* {
  padding: 0;
  margin: 0;
}

html {
  font-family: system-ui;
  background-color: #272727;
  color: white;

}

.top-content {
  background-image: url(/conteudo-aula/images/praia4.jpg);  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  background-color: #3b3b3b;
  text-align: center;
  font-size: 200%;
  margin:50px;
  padding: 10px;
}

#h1hr {
  width: 25%;
  margin: 0 auto;
}

p {
  line-height: 150%;
  text-align: justify;
  text-indent: 1.5cm;
  padding: 40px;
}

header {
  backdrop-filter: brightness(85%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  height: 30px;
}

nav a {
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding-left: 2%;
  vertical-align: middle;
}
nav a:hover {
  font-weight: 600;
}

#mainT {
  padding: 20px;
  font-size: 8vh;
  text-align: center;
  line-height: 200%;
}

#init {
  font-size: large;
  text-indent: 1.5cm;
  padding: 5vh 5vw;
  text-align: justify;
  line-height: 150%;
  font-weight: 600;
}

.content {
  backdrop-filter: brightness(75%) contrast(80%);
  height: 50vh;

}

#sep1 {
  width: 50%;
  margin: auto;
  border: solid coral 2px;
}

footer {
  position: fixed;
  bottom: 0;

  backdrop-filter: brightness(75%);
  font-size: 120%;
  padding: 10px;
  text-align: center;
}

a img {
  width: 25px;
  padding: 2px;
  vertical-align: middle;
}
footer a:hover {
  filter: contrast(50%);
}
