html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(26, 26, 26);
    color: rgb(158, 158, 158);
}
header {
    text-align: center;
}
header a {
    color: bisque;
}

h1 {
    text-align: center;
    color: silver;
}

main {
    font-size: 150%;
    text-align: center;
}

header a {
    text-align: center;
    text-decoration: none;
}

header nav h3 a:hover {
    color: rgb(0, 183, 255);
}

a {
    padding: 10px;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

table {
    color: rgb(200, 200, 200);
    text-align: center;
}
