* {
  padding: 0;
  margin: 0;
}

html {
  font-family: system-ui;
  background-color: #272727;
  color: white;
}

.top-content {
  background-image: url(/conteudo-aula/images/praia1.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  backdrop-filter: brightness(50%) contrast(65%);
}

.title {
  background-color: #3b3b3b;
  text-align: center;
  font-size: 200%;
  margin: 3%;
  padding: 1%;
  color: coral;
}

#h1hr {
  width: 25%;
  margin: 0 auto;
}

.paragrafo {
  line-height: 150%;
  text-align: justify;
  text-indent: 6%;
  padding: 3% 5%;
}

header {
  backdrop-filter: brightness(75%) blur(15px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.5em;
  text-align: center;
  height: auto;
}

nav a {
  color: rgb(200, 200, 200);
  font-weight: 400;
  text-decoration: none;
  padding: 1vw;
  vertical-align: middle;
}
nav a:hover {
  text-shadow: 0 0 1em white;
  color: white;
}

#mainT {
  padding: 0.5em;
  font-size: 4.5em;
  text-align: center;
  line-height: 200%;
}

#init {
  font-size: large;
  text-indent: 5%;
  padding: 5vh 5vw;
  text-align: justify;
  line-height: 150%;
  font-weight: 600;
}

#sep1 {
  width: 50%;
  margin: auto;
  border: solid coral 2px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  backdrop-filter: brightness(50%);
  font-size: 120%;
  padding: 1em;
  text-align: center;
}

a img {
  width: 30px;
  vertical-align: middle;
}
footer a:hover {
  filter: contrast(50%);
}

ul {
  padding: 5% 10%;
  background-color: #484848;
  margin: 5%;
}

#corpo hr {
  margin: 30px auto;
}
.pai {
  font-size: 20px;
}

#ex1 {
  font-size: 2rem;
}
#ex2 {
  font-size: 2em;
}
#ex3 {
  font-size: 3rem;
}

::-webkit-scrollbar {
  width: 0px;
}

#corpo {
  margin: 5%;
}
