* {
    margin: 0;
    padding: 0;
}

#cont1 {
    padding: 10px;
}

html {
    font-family: system-ui;
}

img {
    float: right;
    transition: 1.5s;
    padding: 18px 10px 20px 20px;
}

h1 {
    color: coral;
    text-align: center;
    padding: 10px;
    background-color: #101010;
    box-shadow: 0 0 10px #707070;
}

p {
    text-align: justify;
    padding: 10px;
    color: #707070;
}

@media (max-width:650px) {

    html {
        margin: 0;
        padding: 0;
    }

    h1 {
        margin: 0;
    }

    img {
        display: none;
    }

    img {
        float: none;
        width: 97vw;
        text-align: center;
        padding: 0;
        text-align: center;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.4em;
    }

}