.container {
    width: 97vw;
    height: 97vh;
    border: solid 2px black;
    
    display: grid;
    grid-template-areas:

        "header header header header"
        "main main main img"
        "img2 section section section"
        "footer footer footer footer"
    ;
}

.header {
    grid-area: header;
    background: tomato;
}

.img {
    grid-area: img;
    background: rgb(41, 205, 41);
}

.img2 {
    grid-area: img2;
    background: #327800;
}

.section {
    grid-area: section;
    background: rgb(147, 51, 211);
}

.main {
    grid-area: main;
    background: rgb(51, 166, 211);
}

.footer {
    grid-area: footer;
    background: gold;
}