/* * {
    padding: 0;
    margin: 0;
} */

html {
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system;
}



/* ------------------------------- */
/*    Apenas as cores das divs     */

#div1 {
    background-color: rgb(138, 212, 64);
    /* flex-grow: 1; */
    flex-basis: auto;
}

#div2 {
    background-color: deepskyblue;
    /* flex-grow: 1; */
    flex-basis: auto;
}

#div3 {
    background-color: goldenrod;
    /* flex-grow: 1; */
    flex-basis: auto;

}

#div4 {
    background-color: tomato;
    /* flex-grow: 1; */
    flex-basis: auto;
}





/* ---------------------- */

#div5 {
    background-color: rgb(7, 153, 7);
    /* flex-grow: 1; */
    flex-basis: auto;
}

#div6 {
    background-color: violet;
    /* flex-grow: 1; */
    flex-basis: auto;
}

#div7 {
    background-color: paleturquoise;
    /* flex-grow: 1; */
    flex-basis: auto;
}

#div8 {
    background-color: chocolate;
    /* flex-grow: 1; */
    flex-basis: auto;
}

#div9 {
    background-color: darkcyan;
    /* flex-grow: 1; */
    flex-basis: auto;
}